doctype html
html(lang=__("lang"))
	head
		- var title=title
		if title===undefined
			title=__("title")
		else
			title=__("title")+" - "+title
		include ../includes/meta
		include ../includes/bootstrap
		script(src="/javascript/language.js")
		link(rel="stylesheet" href="css/primary.css")
	body
		.main
			.container
				.row
					.col
					.col-12.header
						.row.m-2.pt-2
							.col.p-0
								h1.title#title
									if title===undefined
										=__("title")
									else
										=__("title")+" - "+title
							.col-2.nav.justify-content-end.p-0
								include ../includes/languageDropdown.pug
						.row.my-2
							.col
								a.btn.btn-light.mx-1(href="/")=__("home_button")
								a.btn.btn-light.mx-1(href="/setup")=__("setup_button")
								a.btn.btn-light.mx-1(href="/legal")=__("legal_button")
								a.btn.btn-light.mx-1(href="https://discord.gg/D6zkPWf575")
									.row
										.col.pe-1
											.bi-discord(style="font-size: 1rem;color:#7289DA")
										.col.ps-0=__("support_button")
								a.btn.btn-light.mx-1(href="https://github.com/NicholasDJM/wikifinder/tree/dev")
									.row
										.col.pe-1
											.bi-github(style="font-size: 1rem;color:black")
										.col.ps-0 GitHub
							.col.justify-content-end.nav
								a.mx-1(href="/homepage")
									img(src="/images/steamLogin.png" alt=__("login_image_alt_text") width="180px" height="35px")
					.col
			block precontent
