doctype html
html(lang=__("lang"))
	head
		title=__("title")
		include includes/meta
		include includes/bootstrap
		script(src="https://cdn.jsdelivr.net/npm/vanilla-picker@2.11.0/dist/vanilla-picker.js" integrity="sha256-HZ/bb8gfM841ry6yI3iJ7dNhPMyY1AWtbODe6nlnZI4=" crossorigin="anonymous")
		script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
		script(src="/javascript/contextMenu.js")
		script(src="/javascript/bookmarks.bundle.js")
		script(src="/javascript/language.js")
		script(src="/javascript/sidebar.js")
		link(href="/css/homepage_primary.css" rel="stylesheet")
	body
		.container-fluid.g-0.pt-3.mx-0#search(onclick="hideContextMenu()" ondragover="denyDrop(event)" oncontextmenu="window.contextMenu(event)")
			.row.mx-0
				center.col.my-3.g-0.mx-0
					iframe(src="https://duckduckgo.com/search.html?width=600&duck=yes&prefill="+__("homepage_search")+"&bgcolor=1B2838&focus=yes" style="overflow:hidden;margin:0;padding:0;width:733px;height:60px;" frameborder="0" title="DuckDuckGo Search")
		.container-fluid.mx-0.p-auto#homepage(onclick="hideContextMenu()" ondragover="denyDrop(event)" oncontextmenu="window.contextMenu(event)")
			.row.pb-2.row-cols-8.justify-content-center#bookmarks
				.col-1.mx-4.py-2#bookmarkadd(aria-labelledby="bookmarkadd-text" ondragover="allowDrop(event)" ondrop="editBookmark(event)")
					a(href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#bookmarkModal")
						.add-bookmark.bi-plus#bookmarkadd-icon
						.bookmark-text.pt-2
							span#bookmarkadd-text=__("bookmark_add_button_text")
							span#bookmarkadd-edit-text(style="display:none")=__("bookmark_edit_button_text")
				//TODO: Add Drag and Drop re-ordering to bookmarks
		.modal#bookmarkModal(tabindex="-1" aria-labelledby="bookmark-modal-title" aria-hidden="true")
			.modal-dialog.modal-dialog-centered.modal-fullscreen-md-down
				.modal-content
					.modal-header
						h5.modal-title#bookmark-modal-title=__("bookmark_modal_title")
						h5.modal-title#bookmark-modal-title-edit(stlye="display:none")=__("bookmark_modal_title_edit")
						button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close" tabindex="0")
					.modal-body
						form
							.mb-2
								label.col-form-label(for="bookmark-name")=__("bookmark_modal_label_name")
								input.form-control#bookmark-name(type="text" tabindex="0")
							.mb-3
								label.col-form-label(for="bookmark-url")=__("bookmark_modal_label_url")
								input.form-control#bookmark-url(type="text" tabindex="0")
							.mb-1
								label.col-form-label(for="bookmark-icon")=__("bookmark_modal_label_icon")
								input.form-control#bookmark-icon(type="text" tabindex="0")
							.mb-4
								input.form-check-input#bookmark-icon-favicon(type="checkbox" onclick="favicon(this)" tabindex="0" aria-labelledby="bookmark-icon-favicon-label")
								label.px-1.form-check-label#bookmark-icon-favicon-label=__("bookmark_modal_label_favicon_checkbox")
								input.form-check-input#bookmark-icon-preview-contain(type="checkbox" onclick="iconPreviewContain(this)" tabindex="0" aria-labelledby="bookmark-icon-preview-contain-text")
								label.form-check-label.px-1#bookmark-icon-preview-contain-text=__("bookmark_modal_label_contain_checkbox")
							.mb-3
								label.col-form-label(for="color-picker")=__("bookmark_modal_label_color")
								.mb-1
									.row
										.col-4.mx-3.p-0
											#color-sample
												.bookmark-icon-preview#bookmark-icon-preview
											.bookmark-text#bookmark-text-preview
										.col.p-0#color-picker
										.row.mt-2
											.col-5
											.col-auto.px-0
												p=__("bookmark_modal_label_default_color")+" "
													span(style="background-color:#101822;color:white")="#101822"
							.mb-3
								input.form-control#bookmark-edit(type="text" style="display:none")
					.modal-footer
						button.btn.btn-danger.me-auto#bookmark-modal-delete-button(type="button" data-bs-dismiss="modal" onclick="confirmDelete()" tabindex="-1" style="display:none")=__("bookmark_modal_delete_button")
						button.btn.btn-secondary(type="button" data-bs-dismiss="modal" onclick="clearForm()" tabindex="0")=__("bookmark_modal_close_button")
						button.btn.btn-primary#bookmark-modal-add-button(type="button" data-bs-dismiss="modal" onclick="saveBookmark()" tabindex="0")=__("bookmark_modal_add_button")
						button.btn.btn-success#bookmark-modal-save-button(type="button" data-bs-dismiss="modal" onclick="saveBookmark()" tabindex="-1"  style="display:none")=__("bookmark_modal_save_button")

		.modal#confirmDeleteModal(tabindex="-1" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true")
			.modal-dialog.modal-dialog-centered
				.modal-content
					.modal-header
						h5.modal-title#confirmDeleteModalTitle=__("delete_modal_title")
						button.btn-close(type="button" data-bs-dismiss="modal" onclick='confirmDelete("Nevermind")' aria-label="Close" tabindex="0")
					.modal-body
						p=__("delete_modal_label")
						input.form-control#deleteModalEdit(type="text" style="display:none")
					.modal-footer
						button.btn.btn-secondary(type="button" data-bs-dismiss="modal" onclick='confirmDelete("Nevermind")')=__("delete_modal_cancel_button")
						button.btn.btn-danger(type="button" data-bs-dismiss="modal" onclick='confirmDelete("I am absolutely sure I want to delete this bookmark.")')=__("delete_modal_confirm_button")
					
		.bi-trash.p-2#bookmarkremove(ondrop="deleteBookmarkWithDrag(event)" ondragover="allowDrop(event)" aria-hidden="true")
		.p-0.m-0.contextMenuTopRight#context-menu
			p.p-1.m-0=__("homepage_context_menu_help")
			hr.m-0
			div.contextItem.my-1
				p.px-1.m-0#contextItem-Create(onclick="selectContextItem(event)")=__("homepage_context_menu_create_bookmark")
					br
			div.contextItem.my-1
				p.px-1.m-0#contextItem-Edit(onclick="selectContextItem(event)")=__("homepage_context_menu_edit_bookmark")
					br
			div.contextItem.my-1
				p.px-1.m-0#contextItem-Delete(onclick="selectContextItem(event)")=__("homepage_context_menu_delete_bookmark")
		#languageButton
			include includes/languageDropdown.pug
		button.bi-sliders.btn.btn-light#settingsButton
		#sidebarCloser
		#sidebar
			.container
				.row.my-2
					.col
						h1=__("homepage_settings_title")
				.row
					.col
						p Hello World
		.container-fluid.mx-0#footer
			.row.align-items-center.m-2.justify-content-center
				.col-auto#scrollHint
					p.bi-caret-down.m-0  Scroll down for more info on 
						span#game No game found
		.container#gameData
			.row
		p#debug-output
		script.
			// This script fixes a bug in Bootstrap's Modals when resized and switches to fullscreen.
			// It seems to add 17 pixels of padding when there shouldn't be any.
			function removePaddingFromModal() {
				let element=document.getElementById("bookmarkModal");
				let padding=element.style.paddingLeft;
				if (padding=="17px") {
					element.style.paddingLeft="0";
				}
			}
			document.addEventListener("DOMContentLoaded", ()=>{
				setInterval(function () {
					removePaddingFromModal();
				}, 100);
			})