doctype html
html(lang=__("lang"))
	head
		title=__("title")
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css")
		script(src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.js" integrity="sha256-P8jY+MCe6X2cjNSmF4rQvZIanL5VwUUT4MBnOMncjRU=" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/vanilla-picker@2.11.0/dist/vanilla-picker.js" integrity="sha256-HZ/bb8gfM841ry6yI3iJ7dNhPMyY1AWtbODe6nlnZI4=" crossorigin="anonymous")
		link(href="/css/homepage_primary.css" rel="stylesheet")
		script(src="/javascript/contextMenu.js")

	body
		.container.g-0#homepage(ondragover="denyDrop(event)" onclick="hideContextMenu()")
			.row
				center.col.my-3.g-0#search
					iframe(src="https://duckduckgo.com/search.html?width=600&duck=yes&prefill=Search%20DuckDuckGo&bgcolor=333333&focus=yes" style="overflow:hidden;margin:0;padding:0;width:733px;height:60px;" frameborder="0" title="DuckDuckGo Search")
		.container(ondragover="denyDrop(event)" onclick="hideContextMenu()")
			.row.pb-2#bookmarks
				.col-1.mx-4.py-2#bookmark1(aria-labelledby="bookmark1Text" draggable="true" ondragstart="startDrag(event)" ondragover="allowDrop(event)" ondragleave="leave(event)" ondrop="moveBookmark(event)" ondragend="endDrag(event)" oncontextmenu="window.contextMenu(event)" data-bookmark="1")
					a#bookmark1Link(href="http://www.wikipedia.org" data-bookmark="1")
						.bookmark#bookmark1Color(style="background-color: rgb(255, 255, 255);" data-bookmark="1")
							.icon#bookmark1Icon(style="background: url('http://www.wikipedia.org/favicon.ico') no-repeat center;" data-url="http://www.wikipedia.org/favicon.ico" data-bookmark="1")
						.bookmark-text.pt-2#bookmark1Text(data-bookmark="1") Wikipedia
				.col-1.mx-4.py-2#bookmark2(aria-labelledby="bookmark2Text" draggable="true" ondragstart="startDrag(event)" ondragover="allowDrop(event)" ondragleave="leave(event)" ondrop="moveBookmark(event)" ondragend="endDrag(event)" oncontextmenu="window.contextMenu(event)" data-bookmark="2")
					a#bookmark2Link(href="https://minecraft.gamepedia.com" data-bookmark="2")
						.bookmark#bookmark2Color(style="background-color: rgb(151, 195, 236);" data-bookmark="2")
							.icon#bookmark2Icon(style="background: url('https://images.wikia.com/minecraft_gamepedia/images/b/bc/Wiki.png') no-repeat center;background-size:contain" data-url="https://images.wikia.com/minecraft_gamepedia/images/b/bc/Wiki.png" data-bookmark="2")
						.bookmark-text.pt-2#bookmark2Text(data-bookmark="2") Minecraft Wiki
				.col-1.mx-4.py-2#bookmark3(aria-labelledby="bookmark3Text" draggable="true" ondragstart="startDrag(event)" ondragover="allowDrop(event)" ondragleave="leave(event)" ondrop="moveBookmark(event)" ondragend="endDrag(event)" oncontextmenu="window.contextMenu(event)" data-bookmark="3")
					a#bookmark3Link(href="https://wiki.teamfortress.com" data-bookmark="3")
						.bookmark#bookmark3Color(style="background-color: #ffffff;" data-bookmark="3")
							.icon#bookmark3Icon(style="background: url('https://wiki.teamfortress.com/w/images/b/be/TF2_crosshair_orange.png') no-repeat center;background-size:contain" data-url="https://wiki.teamfortress.com/w/images/b/be/TF2_crosshair_orange.png" data-bookmark="3")
						.bookmark-text.pt-2#bookmark3Text(data-bookmark="3") Team Fortress 2 Wiki
				.col-1.mx-4.py-2#bookmarkadd
					a(href="#" data-bs-toggle="modal" data-bs-target="#bookmarkModal")
						.add-bookmark.bi-plus#bookmarkadd-icon
						.bookmark-text.pt-2
							span#bookmarkadd-text=__("bookmark_add_button_text")
							span#bookmarkadd-edit-text(style="display:none")=__("bookmark_edit_button_text")
				//TODO: Add Drag and Drop re-ordering to bookmarks
		.modal.fade#bookmarkModal(tabindex="-1" aria-labelledby="bookmark-modal-title" aria-hidden="true")
			.modal-dialog.modal-dialog-centered
				.modal-content
					.modal-header
						h5.modal-title#bookmark-modal-title=__("bookmark_modal_title")
						button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close" tabindex="0")
					.modal-body
						form
							.mb-2
								label.col-form-label(for="bookmark-name")=__("bookmark_modal_label_name")
								input.form-control#bookmark-name(type="text" tabindex="0")
							.mb-3
								label.col-form-label(for="bookmark-url")=__("bookmark_modal_label_url")
								input.form-control#bookmark-url(type="text" tabindex="0")
							.mb-1
								label.col-form-label(for="bookmark-icon")=__("bookmark_modal_label_icon")
								input.form-control#bookmark-icon(type="text" tabindex="0")
							.mb-3
								input.form-check-input#bookmark-icon-favicon(type="checkbox" onclick="favicon(this)" tabindex="0" aria-labelledby="bookmark-icon-favicon-label")
								label.px-1.form-check-label#bookmark-icon-favicon-label=__("bookmark_modal_label_favicon_checkbox")
							.mb-3
								label.col-form-label(for="color-picker")=__("bookmark_modal_label_color")
								.mb-2
									#color-picker
									#color-sample(tabindex="0")
										#bookmark-icon-preview
									.bookmark-text#bookmark-text-preview
								input.form-check-input#bookmark-icon-preview-contain(type="checkbox" onclick="iconPreviewContain(this)" tabindex="0" aria-labelledby="bookmark-icon-preview-contain-text")
								label.form-check-label.px-1#bookmark-icon-preview-contain-text=__("bookmark_modal_label_contain_checkbox")
							.mb-3
								button.btn.btn-danger#bookmark-delete-button(type="button" data-bs-dismiss="modal" onclick="removeBookmark()" tabindex="0" style="display:none")=__("bookmark_modal_delete_button")
							.mb-3
								input.form-control#bookmark-edit(type="text" style="display:none")
					.modal-footer
						button.btn.btn-secondary(type="button" data-bs-dismiss="modal" onclick="clearForm()" tabindex="0")=__("bookmark_modal_close_button")
						button.btn.btn-primary(type="button" data-bs-dismiss="modal" onclick="saveBookmark()" tabindex="0")=__("bookmark_modal_add_button")
		.bi-trash.m-4.p-2#bookmarkremove(ondrop="deleteBookmark(event)" ondragover="allowDrop(event)")
		.px-1.py-1#context-menu
			=__("homepage_context_menu_help")
			hr.m-0
			div.contextItem.my-1#contextItem-Create(onclick="selectContextItem(event)")=__("homepage_context_menu_create_bookmark")
				br
			div.contextItem.my-1#contextItem-Edit(onclick="selectContextItem(event)")=__("homepage_context_menu_edit_bookmark")
				br
			div.contextItem.my-1#contextItem-Delete(onclick="selectContextItem(event)")=__("homepage_context_menu_delete_bookmark")
		p#debug-output
		script(src="/javascript/bookmarks.bundle.js")